<% if @article.errors.any? %>
<h4>Whoops! There were errors in your submission. Please review and correct the following:</h4>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @article do |f| %>
  <p>
    <%= f.label(:title, "Title of Blog Post:") %> &nbsp;
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label(:description, "Brief overview:") %> &nbsp;
    <%= f.text_field :description %>
  </p>
  <p>
     <%= f.text_area :blog_article %>
  </p>
  <p>
    <%= f.submit("Submit!") %>
  </p>

<% end %>
