<h2>Create new article</h2>

<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %> &nbsp;
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %> &nbsp;
    <%= f.text_field :description %>
  </p>
  <p>
      <%= f.text_area :blog_article %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>