<body>
  <nav class="nav">
    <div class="nav__div">
      <div class="nav__div--title">
       <%= link_to 'a blog', root_path %>
      </div>
      <div class="nav__div--links">
        <%= link_to 'edit this blog post', edit_article_path(@article) %>
        <%= link_to 'back to blog list', articles_path %>       
      </div>
    </div>
    <span class="nav__span"></span>
  </nav>
  
  <header class="blog">
    <h1><%= @article.title %></h1>

    <h3 class="description"><%= @article.description %></h3>
    <h5 class="datetime">Submitted on: <%= @article.created_at %></h5>
  </header>
  <main>
    <div class="show">
      <%= @article.blog_article %>
    </div>
    

  </main>
</body>




