<body>
  <nav class="nav">
    <div class="nav__div">
      <div class="nav__div--title">
      alpha blog
      </div>
      <div class="nav__div--links">
        <%= link_to 'home', root_path %>
        <%= link_to 'edit this blog post', edit_article_path(@article) %>
        <%= link_to 'back to blog list', articles_path %>       
      </div>
    </div>
    <span class="nav__span"></span>
  </nav>
  
  <header>
    <h1><%= @article.title %></h1>
  </header>
  <main>
    

    <h5>Submitted on: <%= @article.created_at %></h5>

    <h3><%= @article.description %></h3>

    <p><%= @article.blog_article %></p>


  </main>
</body>




